/* CSS Document */


.index-header {
    background-image: url("../images/fotoRenta_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.filter {
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
}

.dropdown-menu {
    left: -30px;
}

.icon-width {
    font-size: 7em;
}

input[type="datetime-local"] {
    width: 250px;
}
input[type="datetime-local"]::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 30px;
    background-color: white;
    right: 0;
}

.box-opacity {
    opacity: 0.8;
    background-color: rgba(249,249,249,0.50);
}

#carouselCatalogo .card > div.card-image,
#galeria .card > div.card-image {
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    position: relative;
}

#carouselCatalogo .card > div.card-image:hover::after,
#galeria .card > div.pantalla:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #17a3b841;
    opacity: .3;
    z-index: 100;
}
